NEXT_PUBLIC_SUPABASE_URL=https://qhumhgidyicufxxskwbp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFodW1oZ2lkeWljdWZ4eHNrd2JwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU0MDY2MTIsImV4cCI6MjEwMDk4MjYxMn0.GWLMhDYJ44UWiPLvIkY0Q-Rpb5dkHf_HVdGp_ITRWt8